$custom-color: #ff6c00;
$dark-color: #010101;
$text-color-menu: #d1d1d1;
$text-color-baner: #fefefe;
$light-custom-color: #ffe1ca;
$font-normal: "Roboto", "Arial", sans-serif;
$font-light: "Arial Light", sans-serif;
$phone-max: 480px;
$tablet-max: 1000px;
    
* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: $font-normal;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    background-color: $dark-color;
    height: 100px;
    color: $text-color-menu;
    padding: 10px;
    font-family: $font-light;
    
    #logo {
        float: left;
        
    }
    
    #home {
        height: 25px;
    }
        
    #fb, #tw { 
        float: right;
        padding: 5px 8px;
        &:hover {
            
        }
    }
   
    ul {
        float: right;
        padding-top: 30px;
        font-size: 24px;
        padding: 0;
        margin: 0;
//        display: flex;
//        justify-content: flex-end;
//        align-items: flex-end; 
    }

    #nav-icon {
        display: none;
    }

    li {
        list-style: none; 
        display: block;
        white-space: nowrap;
        float: left;
        padding: 0px 15px;
        transition: all 0.5s ease 0s;
        &:hover {
            background-color: $custom-color;
        }
        a:visited {
            color: $text-color-menu;
        }
    } 


    @media (max-width: $tablet-max) {
        height: 120px;
        padding: 0;
        
        #logo {
            padding: 20px 50px;
        }
        
        #fb, #tw {
            display: none;
        }
        ul {
            display: none;
            float: none;
            background-color: $dark-color;
         }    
        li {
           text-align: center;
           width: 100%;
           padding: 10px 0;
           background-color: $dark-color;
        }
        #nav-icon {
            display: block;
            float: right;
            margin: 10px 30px 0 10px;
        }
        
    }
    
    @media (max-width: $phone-max) {
        #logo {
            padding: 20px;
        }    
    }

    .visible {
        display: block;
    }

}

/* hamburger icon */

#nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: $custom-color;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}



#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}
 
/* baner */

section#baner {
       
    background-image: url(../images/baner_warszawa.jpg);
    background-attachment: fixed; 
    background-repeat: no-repeat;
    height: 580px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $text-color-baner;

     h1 {
         font-family: $font-normal;
         font-size: 72px; 
     }
        
     h2 {
         font-size: 30px;
         font-family: $font-light;
         padding: 15px;
     }
 
     .button {
         
         background-color: $custom-color;
         padding: 10px 50px;
         transition: all 0.5s ease 0s;
         &:visited {
              color: $text-color-baner;
         }
         &:hover {
             background-color: $dark-color;
             
         }
      }
    
        @media (max-width: $phone-max) {
        
            h1 {
               font-size: 48px;
            }
            
            h2 {
                text-align: center;
            }
        }

        h1 {
            overflow: hidden; 
            text-align: center;
        }

}


/* Realizacje */

section#our_projects {
    
    height: 560px;
    padding: 25px;
    
    .container {
        position: relative;
    
    h1 {
        font-size: 36px;
        padding: 25px 5px;
        position: relative;
        &::before { 
            content: "";
            width: 18px;
            height: 46px;
            background-color: $custom-color;
            display: block;
            position: absolute;
            left: -20px;
          }
                    
        span {
              font-size: 60px;    
        }
     }

    p {
        font-size: 16px;
    }
    
    #prev, #next {
        position: absolute;
        top: 290px;
        &:hover {
            cursor: pointer;
        }
    }
    #prev {
        left: 5px;
    }
        
    #next {
        right: 5px;
    }    
    }  
    .slider {     
        height: 380px;
        overflow: hidden;
        position: relative;
        width: 90%;

        ul {
            position: relative;
            list-style: none;
            padding: 10px;
            display: flex;
            //align-items: flex-start;
            li {
                display: inline-block;
                padding: 10px;
                .name {
                    color: $dark-color;
                    font-weight: 600;
                    padding: 5px 0;
                }
                .img {
                    max-width: 357px;
                }
                .range {
                    color: $custom-color;
                    font-size: 14px;
                }
                img:hover {
                    transition:0.2s;
                    -webkit-filter: blur(1px);
                    filter: blur(1px);
                    cursor: pointer;
                }
            }
        }
    }
    @media (max-width: $phone-max) {
            height: 650px;
        }
}    

/* Kompetencje */

section#skills {
    height: 640px;
    padding: 25px; 
    h1 {
        font-size: 36px;
        padding: 25px 5px;
        position: relative;
        &::before { 
            content: "";
            width: 18px;
            height: 46px;
            background-color: $custom-color;
            display: block;
            position: absolute;
            left: -20px;
        }  
        
    }
    .box {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }
    .skill_icon {
        //width: 25%;
        padding: 10px;
        transition: all 0.5s ease 0s;
        &:hover {
            color: $custom-color;
        }
    }
        
    h3 {
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        padding-bottom: 25px;
    }
    
    @media (max-width: $tablet-max) {
        height: 760px;
       .skill_icon {
            width: 50%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        h3 {
            font-size: 20px;
        }
    }    
    @media (max-width: $phone-max) {
        height: 1350px;
       .skill_icon {
           width: 80%;
        }
        h3 {
            font-size: 18px;
        }
    }
}

/* Klienci */

section#clients {
    height: 560px;
    padding: 25px; 
    h1 {
        font-size: 36px;
        padding: 25px 5px 40px 5px;
        position: relative;
        &::before { 
            content: "";
            width: 18px;
            height: 46px;
            background-color: $custom-color;
            display: block;
            position: absolute;
            left: -20px;
        }  
    }
    
    .clients_row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }
    .client_logo {
        padding: 10px 0;
    }
    
    img {
      -webkit-filter: grayscale(100%);
      -webkit-transition: .5s ease-in-out;
      -moz-filter: grayscale(100%); 
      -moz-transition: .5s ease-in-out;
      -o-filter: grayscale(100%); 
      -o-transition: .5s ease-in-out;
      
        &:hover {
          -webkit-filter: grayscale(0%);
          -webkit-transition: .5s ease-in-out;
          -moz-filter: grayscale(0%);
          -moz-transition: .5s ease-in-out;
          -o-filter: grayscale(0%);
          -o-transition: .5s ease-in-out;
        } 
    }
    
    @media (max-width: $tablet-max) {
        height: 780px;
    }    
    
    @media (max-width: $phone-max) {
        height: 1500px;
        .client_logo {
            img {
                width: 100%;
                padding: 0 50px;
            }
        }
    
    }
}

footer {
    height: 50px;
    background-color: $custom-color;
    color: $text-color-baner;
    ul {
        float: left;
        font-size: 18px;
    }
    li {
        list-style: none; 
        display: block;
        white-space: nowrap;
        float: left;
        padding: 0 15px;
        line-height: 50px;
        transition: all 0.5s ease 0s;
        a:visited {
            color: $text-color-baner;
        }
    }
    
    #copyright {
        float: right;
        line-height: 50px;
        padding: 0 10px;
    }
    @media (max-width: $tablet-max) {
        height: 320px;
        padding-top: 20px;

       ul {
            float: none;
         }    
        li {
           text-align: center;
           width: 100%;
           padding: 5px 0;
        }        
        #copyright {
            float: center;
        }
    }
    
}




